---
// src/components/seo/MetaTags.astro
const {
  title = "Sekolah Teologi - Mendalami Firman Tuhan",
  description = "Sekolah Teologi yang mengajarkan pendalaman alkitabiah dan kontekstual untuk membentuk pelayan Tuhan yang berkualitas",
  image = "/images/og-image.jpg",
  url = "https://sekolahteologi.com",
  type = "website",
} = Astro.props;
---

<!-- Primary Meta Tags -->
<title>{title}</title>

<!-- validasi iklan google -->
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2850813437272595"
  crossorigin="anonymous"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PXQ0LL2P8F"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "G-PXQ0LL2P8F");
</script>

<meta name="title" content={title} />
<meta name="description" content={description} />
<meta
  name="keywords"
  content="teologi, sekolah teologi, alkitab, pendidikan kristen"
/>

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
